<clr-modal [(clrModalOpen)]="CreEdtUser">
    <h3 class="modal-title">Edit Client</h3>
    <div class="modal-body">
        <section class="form-block">
            <div class="form-group ">
                <label>Company</label>
                <input type="text" name="company"   [(ngModel)]="leCompany.company" >
            </div>
            <div class="form-group ">  
                <label>Description</label>
                <input type="text" name="descr"  [(ngModel)]="leCompany.descr" >
            </div>
        </section>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="CreEdtUser = false">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="createOuUpdateCompany()">Ok</button>
    </div>
</clr-modal>



<clr-datagrid [(clrDgSelected)]="selected">
    <clr-dg-column>User ID</clr-dg-column>
    <clr-dg-column>Libelle</clr-dg-column>
    <clr-dg-column>Descr</clr-dg-column>
    <clr-dg-column>Creation date</clr-dg-column>
    <clr-dg-column>Edit</clr-dg-column> 
    
    <clr-dg-row *clrDgItems="let client of dataClient" [clrDgItem]="client">    
        <clr-dg-cell>{{client.Id}}</clr-dg-cell>
        <clr-dg-cell>{{client.Company}}</clr-dg-cell>
        <clr-dg-cell>{{client.Descr}}</clr-dg-cell>
        <clr-dg-cell>{{client.Date}}</clr-dg-cell>
        <clr-dg-cell>
            <button (click)="edtClient(client.Id,client.Company,client.Descr)" class="btn btn-sm btn-success">Edit</button>
          </clr-dg-cell>      
    </clr-dg-row> 

    <clr-dg-placeholder>We couldn't load any launches</clr-dg-placeholder>

    <clr-dg-footer>
     
        <clr-dg-pagination #pagination [clrDgPageSize]="10" [clrDgTotalItems]="dataClient?.total"></clr-dg-pagination>
      </clr-dg-footer>

  </clr-datagrid>

  Selected users: <span *ngFor="let user of selected">{{user.Company}}</span>
